@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
}


<div class="container text-light mt-5">
	<h2>This was a successfull payment. <i class="bi bi-check-circle-fill" style="color: green"></i></h2>
	<h3>Redirect <a asp-area="" asp-controller="Movies" asp-action="Index" class="text-danger">Back</a></h3>
</div>

