@model List<TicketsApp.Domain.Domain.Order>


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light text-center mt-5">My Orders</h1>

<div class="container text-center">
    <table class="table table-borderless mt-5 custom-table">
    <thead>
        <tr>
       
            <th>
                Order Id
            </th>
          
            <th>
                Number of tickets ordered
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
          
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem =>item.Id)
                </td>

            
                <td>
                    @(item.TicketsInOrder != null ? item.TicketsInOrder.Sum(t => t.Quantity) : 0)
                </td>
                <td>
                    @(item.TicketsInOrder != null ? item.TicketsInOrder.Sum(t => t.Quantity*t.Ticket.Price) : 0)
                </td>
                <td>
                        <a asp-action="Details" asp-controller="Orders" asp-route-id="@item.Id" class="btn btn-danger w-75"><i class="bi bi-bag-check-fill"></i> View Order</a>
                </td>
             
            </tr>
        }
    </tbody>
 
</table>
</div>