@model TicketsApp.Domain.Domain.TicketInShoppingCart


<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row text-center mt-5">
			<h1 class="text-light mt-5">Add ticket to Shopping cart</h1>
			<form asp-action="AddToCartConfirmed">
				<input type="hidden" asp-for="TicketId" />
			<div class="w-75 mx-auto">
					<label asp-for="Quantity" class="text-light"></label>
					<input asp-for="Quantity" class="form-control" value="1" />
					<input type="submit" value="Add To Cart" class="btn btn-danger mt-3 w-100" />
				</div>
			</form>
	</div>
</div>
