@model TicketsAppAdmin.Models.Movie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-center custom-title">
	<h3 class="text-light">Are you sure you want to delete  @Html.DisplayFor(model => model.MovieName)?</h3>
	<div>
		<form asp-action="DeleteMovie">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Delete" class="btn btn-danger w-25 mt-4" />
		</form>
	</div>
</div>

